* {
  box-sizing: border-box;
}

body {
font-family: 'Nunito', sans-serif;
line-height: 1.5;
color: #fff;
margin: 0;
}

.wrapper {
max-width: 1200px;
margin: 0 auto;
}

h1 {
text-transform: uppercase;
font-family: 'Wix Madefor Display', sans-serif;
font-size: 7rem;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


#company-name {
  color: #dec9e9;
  font-size: 1.5rem;
}

#intro,
#fan-favs,
#team {
  padding: 4em 0;
}

#intro h2 {
  font-family: 'Wix Madefor Display', sans-serif;
  font-size: 2rem;

}


#header {
  background-color: #000;

}

#header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  padding-left: 1.25em
}

nav ul li a:link, 
nav ul li a:visited {
color: #dec9e9;
text-decoration: none;

}

nav ul li a:hover,
nav ul li a:focus {
color: #fff;
}

#herobanner {
  height: 60vh;
  background-color: #7251b5;
  background-image: url(../images/ice-cream-cones.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  display: flex;
  align-items: center;

}

#intro {
  background-color: #7251b5;
}

 #intro p {
max-width: 50%;
 }

 #fan-favs {
  background-color: #000;
  color: #dec9e9;
 }

#fan-favs h2{
  font-family: 'Wix Madefor Display', sans-serif;
  font-size: 2rem;
}

 #fan-favs ol {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
 }


#fan-favs ol li {
  width: 50%;
  padding-right: 15%;
}




.teamgrid {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  margin-top: 2.5em;
  gap: 1em;
}

#team {
background-color: #7251b5
}

#team h2,
.team-intro {
  max-width: 40%;
  margin: 0 auto;
  text-align: center;
}

#team h2 {
  font-family: 'Wix Madefor Display', sans-serif;
  font-size: 2rem;
}


.teamgrid article {
  background-color: #6647a6;
  border-radius: 40px;
  padding: 2em 0;
  text-align: center;
}

.teamgrid article img {
  width: 80px;
  border-radius: 50%;
  filter: grayscale(100%);
}

.teamgrid h3 {
text-transform: uppercase;
margin-bottom: 0;
}

.teamgrid article p{
  margin-top: 0;
}

footer {
  background-color: #000;
  text-align: center;
  padding: 1em 0;
}