* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
  }

body { 
  line-height: 1.5;

}

.navbar {
background-color: #000;
padding-left: 10px;
padding-right: 10px;
text-decoration: none;
display: flex;
align-items: center;
justify-content: space-between;

}

.navbar li {
  display: inline-flex;
  justify-content: space-between;

}

li a {
  text-decoration: none;

}

.navlogo a {
  margin-right
  font-weight: 900;
  text-decoration: none;
  
}

.banner {
  background-image: url()
}


